<div class="container">
  <form method="post"    (ngSubmit)="guardar()" id="datosform" >
    <div class="col">
      <label>camp1</label>
      <input type="text"   class="form-control"  id="camp1" name="camp1" tag="cpru">
    </div>
    <div class="col">
      <label>camp2</label>
      <input type="text" name="camp2"  id="camp2" class="form-control" tag="cpru">
    </div>
    <div class="col">
      <label>camp3</label>
      <input type="text" name="camp3" id="camp3" class="form-control" tag="cpru">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary mb-3 ">Confirm identity</button>
    </div>
  </form>

</div>

