<!-- <app-login></app-login> -->

<!--
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datatable">
      <td>{{item.grp_cod}}</td>
      <td>{{item.usr_aud}}</td>
       <td>{{item.usr_clv}}</td>
      <td>{{item.usr_cod}}</td>
      <td>{{item.usr_dom}}</td>
      <td>{{item.usr_est}}</td>
       <td>{{item.usr_fec_ult}}</td>
      <td>{{item.usr_nom}}</td>
      <td>{{item.usr_tacc}}</td>
      <td>{{item.usr_treg}}</td>
       <td>{{item.usr_vig_clv}}</td>

    </tr>


  </tbody>
</table>
-->
<router-outlet></router-outlet>
